<config xmlns:xc="urn:ietf:params:xml:ns:netconf:base:1.0">
    <ospf xmlns="http://cisco.com/ns/yang/Cisco-IOS-XR-ipv4-ospf-cfg">
        <processes>
            <process>
                <process-name>{{ ospf['process_name'] }}</process-name>
                <default-vrf>
                    <router-id>{{ ospf['router_id'] }}</router-id>
                    <area-addresses>
                        {% for AREA in ospf['areas'] %}
                        <area-address>
                            <address>{{ AREA['id'] }}</address>
                            <name-scopes>
                                {% for INTERFACE in AREA['interfaces'] %}
                                <name-scope>
                                    <interface-name>{{ INTERFACE }}</interface-name>
                                    {% if INTERFACE.startswith('Loopback') %}
                                    <passive>true</passive>
                                    {% else %}
                                    <network-type>point-to-point</network-type>
                                    {% endif %}
                                </name-scope>
                                {% endfor %}
                            </name-scopes>
                        </area-address>
                        {% endfor %}
                    </area-addresses>
                </default-vrf>
            </process>
        </processes>
    </ospf>
</config>