<config xmlns:xc="urn:ietf:params:xml:ns:netconf:base:1.0">
    <lldp xmlns="http://cisco.com/ns/yang/Cisco-IOS-XR-um-lldp-cfg"/>
    <snmp xmlns="http://cisco.com/ns/yang/Cisco-IOS-XR-snmp-agent-cfg">
     <administration>
      <default-communities>
       <default-community>
        <community-name>olympos_community</community-name>
        <priviledge>read-only</priviledge>
       </default-community>
      </default-communities>
     </administration>
    </snmp>
</config>